.contact-section {
    background-color: #A59691;
}

.sup {
    display: grid;
    grid-template-columns: minmax(0, 700px) minmax(0, 500px);
    gap: 30px;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;

    box-sizing: border-box;
}

.photo {
    grid-row: 1 / 4;
    width: 700px;
    height: 570px;
    object-fit: cover;
}

.title {
    grid-column: 2;
    background: transparent;
    box-shadow: none;
    border: none;
}

.sogl {
    grid-column: 2;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
    max-width: 450px;
    overflow-wrap: break-word;
}

.headline_1 {
    color: #8B4513;
    font-size: 40px;
    line-height: 1;
    padding-top: 25px;
}

.headline_2 {
    color: #424242;
    font-size: 40px;
    line-height: 1;
}

.headline_3 {
    margin-top: 20px;
    color: #424242;
    font-size: 20px;
    line-height: 0.8;
}

.contact-form {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.contact-form label {
    margin-top: 15px;
}

.contact-form input {
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.contact-form button {
    width: 200px;
    min-height: 50px;
    margin-top: 30px;
    background: #d8ea7b;
    border: none;
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}