body {
    margin: 0;
    padding: 0;
}

.block {
    width: 100%;
    padding: 20px 40px;
    background-color: #c4b4af;
    box-sizing: border-box;
}

.block_name {
    display: flex;
    flex-wrap: wrap;
    gap: 0.35em;
    margin: 0;
}

.block_name_name {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: #8d4b1c;
}

.block_name_nxname {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    color: #3c3c3c;
}

.block_sub {
    margin: 12px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    padding: 0 0 10px;

}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.menu {
    padding: 0 24px 16px;
    background-color: white;
}

.menu p {
    margin: 0;
    padding: 16px 0;
    border-bottom: 1px solid #d0d0d0;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: #ece2e0;
}

.card_img {

}

.card_content {
    padding: 10px;
}

.sell {
    padding: 10px 30px;
    background-color: #d8ea7c;
    border: none;
}